body{
    font-family: "Arial", Georgia, Serif;
}
a{
    text-decoration: none;
    color:#0096ff;
}

img {
    position: relative;
}

.product-container {
    border: 1px solid #aaa;
    padding-bottom: 10px;
}

.product-container img{
    width: 100%;
    height: auto;
}

.delete-button {
    z-index: 1;

}



.overlay{
    pointer-events: none;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.title {
    font-size: 32px;
}

.tagline {
    font-size: 18px;
}
.description{
    padding: 10px;
    color: #ffffff;
}

.product-title, .product-tagline {
    font-size: 16px;
}




img:hover .title.text-content {
    opacity: 1;
}

