body{
    font-family: "Arial", Georgia, Serif;
}
a{
    text-decoration: none;
    color:#0096ff;
}

.product-container img{
    width: 100%; height: auto;
}

.row {
    width: 946px;
}

.col1 {
    float: left;
}
.col2 {
    margin: 10px auto;
}
.col3 {
    float: right;
}

.title {
    font-size: 32px;
}

.tagline {
    font-size: 18px;
}
.description{
    padding: 10px;
}

/*XS*/
@media(max-width:767px){
    .product-container {
        border: 1px solid #aaa;
        width: 400px;
    }
}

/*SM*/
@media(min-width:768px){
    .product-container {
        border: 1px solid #aaa;
        width: 400px;
    }
}

/*MD*/
@media(min-width:992px){
    .product-container {
        border: 1px solid #aaa;
        width: 300px;
    }
}

/*LG*/
@media(min-width:1200px){
    .product-container {
        border: 1px solid #aaa;
        width: 300px;
    }
}
