body{
    font-family: "Arial", Georgia, Serif;
}
a{
    text-decoration: none;
    color:#0096ff;
}

.product-container img{
    width: 100%; height: auto;
}


.title {
    font-size: 32px;
}

.tagline {
    font-size: 18px;
}
.description{
    padding: 10px;
}

 .title.text-content{
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: wait;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;

    padding: 10px;
}

img:hover .title.text-content {
    opacity: 1;
}

/*XS*/
@media(max-width:767px){
    .product-container {
        border: 1px solid #aaa;
    }
}

/*SM*/
@media(min-width:768px){
    .product-container {
        border: 1px solid #aaa;
        width: 600px;
    }
}

/*MD*/
@media(min-width:992px){
    .product-container {
        border: 1px solid #aaa;
        width: 300px;
    }
}

/*LG*/
@media(min-width:1200px){
    .product-container {
        border: 1px solid #aaa;
        width: 300px;
    }
}
